*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
header {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
header img {
  width: 320px;
}
li {
  list-style: none;
}
.logo {
  margin: 10px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
i {
  font-size: 23px;
  margin-right: 10px;
}
.recipe-time {
  font-size: 20px;
  font-weight: 600;
  margin: 5px;
}
.recipe-name {
  font-size: 20px;
  font-weight: normal;
}
.recipe-card {
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
  height: 440px;
}
.recipe-img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
  background-color: rgb(199, 190, 190);
}
.recipe-header {
  margin: 0px 20px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.recipe-description {
  font-size: 0.8rem;
  margin: 0px 10px 20px 10px;
  max-height: 105px;
  text-overflow: ellipsis;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.recipe-description::-webkit-scrollbar {
  display: none;
}
.recipe-ingredients {
  margin: 0px 20px;
  font-size: 0.8rem;
  max-height: 105px;
  text-overflow: ellipsis;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.recipe-ingredient {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recipe-ingredients::-webkit-scrollbar {
  display: none;
}
.recipes-section {
  margin: 50px;
}
.search-section {
  display: flex;
  justify-content: center;
}
.search-bar {
  margin: 0px 60px;
  padding: 10px;
  border-radius: 5px;
  height: 60px;
  border: none;
  background-color: rgb(231, 231, 231);
  box-sizing: content-box;
}
.search-bar::placeholder {
  color: rgb(184, 182, 182);
  padding-left: 15px;
  font-size: 17px;
}
.recipe-img {
  object-fit: cover;
}
.search-section {
  display: flex;
  flex-direction: column;
}
.input-section {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 60px 0px 60px;
}
.input-container {
  display: flex;
  align-items: center;
  color: #fff;
  min-width: 15vh;
  border-radius: 5px;
  border: none;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 55px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin: auto;
}

.input-container,
.input-container input {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
}
.input-ingredients,
.input-appliance,
.input-ustensils {
  color: #fff;
  width: 100%;
  padding: 0 10px;
}
.input-ingredients,
.input-ingredients-container {
  background-color: rgb(50, 130, 247);
}
.input-appliance,
.input-appliance-container {
  background-color: rgb(105, 217, 164);
}
.input-ustensils,
.input-ustensils-container {
  background-color: rgb(237, 100, 84);
}
.tag-section {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 60px 0px 60px;
}
.tag-container {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 25px;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
  color: #fff;
}
.fa-chevron-down,
.fa-chevron-up {
  font-size: 15px;
}
.option-container {
  margin: 0px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 120px;
  text-overflow: ellipsis;
  overflow: auto;
}
.tag-container i {
  font-size: 15px;
  cursor: pointer;
  margin: 0;
}
.tag {
  margin-right: 5px;
}
.tag-ingredients,
.ingredients-list {
  background-color: rgb(50, 130, 247);
}
.tag-appliance,
.appliance-list {
  background-color: rgb(105, 217, 164);
}
.tag-ustensils,
.ustensils-list {
  background-color: rgb(237, 100, 84);
}
.ingredients-option {
  cursor: pointer;
}
.fa-chevron-down,
.fa-chevron-up {
  cursor: pointer;
}
.ingredients-list,
.appliance-list,
.ustensils-list {
  position: absolute;
  border-radius: 5px;
  top: 50px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
  max-height: 182px;
  text-overflow: ellipsis;
  overflow: auto;
}
.ingredients-list-item,
.appliance-list-item,
.ustensils-list-item {
  cursor: pointer;
  margin: 0px 5px;
}

.selected {
  color: rgb(105, 114, 114);
}
